absl-py==1.4.0
asttokens==2.2.1
audioread==3.0.0
auraloss==0.4.0
backcall==0.2.0
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
decorator==5.1.1
executing==1.2.0
filelock==3.12.2
fonttools==4.40.0
google-auth==2.20.0
google-auth-oauthlib==1.0.0
grpcio==1.54.2
idna==3.4
importlib-metadata==6.7.0
importlib-resources==5.12.0
ipython==8.14.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
librosa==0.8.1
llvmlite==0.40.1rc1
Markdown==3.4.3
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
mpmath==1.3.0
networkx==3.1
numba==0.57.0
numpy==1.24.3
oauthlib==3.2.2
packaging==23.1
parso==0.8.3
pesq==0.0.4
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.6.0
pooch==1.7.0
prompt-toolkit==3.0.38
protobuf==4.23.3
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydub==0.25.1
soundfile==0.12.1
stack-data==0.6.2
sympy==1.12
tensorboard==2.13.0
tensorboard-data-server==0.7.1
threadpoolctl==3.1.0
torch==2.0.1
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.6.3
urllib3==1.26.16
wcwidth==0.2.6
Werkzeug==2.3.6
zipp==3.15.0